<!DOCTYPE html>
<html>
  <head>
    <title>User Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css"
    />
  </head>

  <body>
    <h2>User Login</h2>

    <button onclick="location.href='register_form'">註冊</button>

    <!-- 登入表單 -->
    <form action="login_process" method="post">
      <div>
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required />
      </div>
      <div>
        <label for="password_hash">Password:</label>
        <input
          type="password"
          id="password_hash"
          name="password_hash"
          required
        />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>
  </body>
</html>
